= semantic_form_for @alert, :html => {:class => 'container'} do |f|
  = render "alerts/signup_introduction"
  = f.inputs do
    = f.input :address, :as => :hidden
    = f.input :email, :label => "Enter your email address", :placeholder => "Enter your email address"
    = f.action :submit, :as => :button, :label => "Create Alert", :button_html => { :class => "button button-rounded button-action button-large" }
